---
import Base from '../layouts/Base.astro';
---

<Base title="Riftstar Games | Support" description="â­ Riftstar Games Support Page">
	<section class="nm:container nm:mx-auto px-5 my-6 flex justify-center items-center">
        <div class="max-w-[500px] w-fit h-min flex flex-col gap-3 justify-center items-center text-center">
            <h1 class="text-white font-bold text-6xl">Support Center</h1>
            <!-- <span class="text-white opacity-50 font-normal text-base">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam hendrerit ex eu augue ultrices, non commodo lacus blandit. Donec dignissim urna at magna dictum, eu dapibus justo porta. Quisque eget congue mauris, in posuere ipsum.</span> -->
            <form action="" method="post" class="p-5 mt-5 flex flex-col gap-4 rounded-md bg-white/5 ring-1 ring-white/10 w-full max-w-lg text-left">
                <div class="w-full">
                    <label for="support-nickname" class="sr-only">Nickname</label>
                    <input id="support-nickname" name="nickname" type="text" autocomplete="nickname" placeholder="Your game nickname" maxlength="30" minlength="2" class="rounded-md border-0 bg-black/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-semibold duration-200 ease-in-out w-full" required>
                </div>
                <div class="w-full">
                    <label for="support-email-address" class="sr-only">Email adress</label>
                    <input id="support-email-address" name="email" type="email" autocomplete="email" placeholder="Your email adress" maxlength="60" minlength="8" class="rounded-md border-0 bg-black/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-semibold duration-200 ease-in-out w-full" required>
                </div>
                <h4 class="mt-4 font-bold text-white text-xl">Your question</h4>
                <div class="w-full">
                    <label for="support-title" class="sr-only">Title</label>
                    <input id="support-title" name="title" type="text" autocomplete="" placeholder="Title" maxlength="200" minlength="1" class="rounded-md border-0 bg-black/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-semibold duration-200 ease-in-out w-full" required>
                </div>
                <div class="w-full">
                    <label for="support-text" class="sr-only">Question</label>
                    <textarea id="support-text" name="text" rows="5"autocomplete="" placeholder="Question" maxlength="10000" minlength="1" class="rounded-md border-0 bg-black/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-semibold duration-200 ease-in-out w-full" required></textarea>
                </div>
                <input type="file" name="file" id="support-file">
            </form>
        </div>
    </section>
</Base>