---
import Base from '../layouts/Base.astro';
---

<Base title="Riftstar Games | Support" description="â­ Riftstar Games Support Page">
	<section class="nm:container nm:mx-auto px-5 my-6 w-full h-full flex flex-col gap-6 justify-center items-center text-center">
        <div class="mx-auto max-w-lg text-center">
          <h2 class="text-3xl font-bold tracking-tight text-white sm:text-4xl">Support center</h2>
          <p class="mt-2 text-lg leading-8 text-white/70">Submit feedback about an issue or ask a question</p>
        </div>
        <form action="" method="POST" class="max-w-lg w-full grid grid-cols-1 gap-x-5 gap-y-4 sm:grid-cols-2">
          <h4 class="font-semibold text-xl text-white sm:col-span-2 text-center">Contact information</h4>
          <input id="support-name" name="name" type="text" autocomplete="given-name" required class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out" placeholder="Your name" minlength="2" maxlength="30">
          <select id="support-type" required name="type" class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out">
            <option selected="true" hidden value="0" class="text-black">Your region</option>
            <option value="1" class="text-black">United states</option>
            <option value="2" class="text-black">Europe</option>
            <option value="3" class="text-black">Asia</option>
            <option value="3" class="text-black">Other</option>
          </select>
          <input id="support-nickname" name="nickname" type="text" autocomplete="nickname" required class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out sm:col-span-2" placeholder="Your game nickname" minlength="2" maxlength="60">
          <input id="support-email-adress" name="email-adress" type="email" autocomplete="email" required class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out sm:col-span-2" placeholder="Your email adress" minlength="8" maxlength="80">
          <h4 class="font-semibold text-xl mt-2 text-white sm:col-span-2 text-center">Problem details</h4>
          <select id="support-game" required name="game" class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out">
            <option selected="true" hidden value="0" class="text-black">Select game</option>
            <option value="1" class="text-black">Ghost Runner</option>
            <option value="2" class="text-black">Hero Sega</option>
            <option value="3" class="text-black">Star Blade</option>
            <option value="3" class="text-black">Other</option>
          </select>
          <select id="support-type" required name="type" class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out">
            <option selected="true" hidden value="0" class="text-black">Problem type</option>
            <option value="1" class="text-black">Gameplay</option>
            <option value="2" class="text-black">Sounds</option>
            <option value="3" class="text-black">Controlls</option>
            <option value="3" class="text-black">Mechanics</option>
            <option value="3" class="text-black">Other</option>
          </select>
          <input id="support-title" name="title" type="text" autocomplete="" required class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out sm:col-span-2" placeholder="Title" minlength="1" maxlength="200">
          <textarea id="support-message" name="message" rows="5" autocomplete="" required class="rounded-md border-0 bg-white/5 px-4 py-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out sm:col-span-2" placeholder="Message" minlength="1" maxlength="10000"></textarea>
          <div class="rounded-md border-0 bg-white/5 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-center duration-200 ease-in-out px-4 pt-0 pb-4 sm:col-span-2">
            <svg class="mx-auto h-9 w-9 text-white" viewBox="0 0 24 24" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M1.5 6a2.25 2.25 0 012.25-2.25h16.5A2.25 2.25 0 0122.5 6v12a2.25 2.25 0 01-2.25 2.25H3.75A2.25 2.25 0 011.5 18V6zM3 16.06V18c0 .414.336.75.75.75h16.5A.75.75 0 0021 18v-1.94l-2.69-2.689a1.5 1.5 0 00-2.12 0l-.88.879.97.97a.75.75 0 11-1.06 1.06l-5.16-5.159a1.5 1.5 0 00-2.12 0L3 16.061zm10.125-7.81a1.125 1.125 0 112.25 0 1.125 1.125 0 01-2.25 0z" clip-rule="evenodd" />
            </svg>
            <div class="mt-4 flex text-base justify-center text-center items-cemter gap-x-3">
              <label for="file-upload" class="relative cursor-pointer rounded-md bg-white font-semibold text-black text-base px-3 py-1">
                <span>Upload a file</span>
                <input id="file-upload" name="file-upload" type="file" class="sr-only" accept=".jpg, .jpeg, .png" multiple>
              </label>
              <span class="font-semibold text-base text-white mt-1">PNG, JPG, JPEG up to 10MB</span>
            </div>
          </div>
          <div class="relative flex items-center gap-3 sm:col-span-2">
              <input id="support-agree-age" name="agree-age" type="checkbox" required class="h-4 w-4 rounded-md bg-white/5-2 text-white ring-1 ring-inset ring-white/10 outline-none focus:ring-white/30 text-base font-normal duration-200 ease-in-out">
              <label for="support-agree-age" class="font-semibold text-white text-base">I confirm that I am 13 years old or older</label>
          </div>
          <button type="submit" class="sm:col-span-2 rounded-md bg-white px-4 py-2 text-base font-semibold text-black mt-2">Send feedback</button>
        </form>
    </section>
</Base>