<section class="py-8 sm:py-9">
    <div class="nm:container nm:mx-auto px-5 flex items-start justify-start flex-col">
        <div class="max-w-2xl">
            <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">Work with us</h2>
            <p class="mt-6 text-pretty text-lg font-medium text-white/80 sm:text-xl/8">Anim aute id magna aliqua ad ad non deserunt sunt. Qui irure qui lorem cupidatat commodo. Elit sunt amet fugiat veniam occaecat fugiat.</p>
        </div>
        <div class="mt-6.5 max-w-2xl lg:max-w-none">
            <div class="grid grid-cols-1 gap-x-6 gap-y-5 text-base/7 font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-6.5">
                <a href="#">Our games <span aria-hidden="true">&rarr;</span></a>
                <a href="#">News <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Contact <span aria-hidden="true">&rarr;</span></a>
                <a href="#">Meet our leadership <span aria-hidden="true">&rarr;</span></a>
            </div>
        </div>
    </div>
</section>