<footer class="bg-black w-full">
	<div class="nm:container nm:mx-auto px-5 py-5 flex flex-col justify-center gap-3 sm:gap-4">
		<h1 class="text-white-100 text-4xl sm:text-5xl font-bold text-center">Riftstar Games</h2>
		<p class="text-white-100 text-sm md:text-base font-semibold text-center">🌎 We're a game development team 🌎<br>🎮 We enhance your gaming experience 🎮</p>
		<div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-end gap-5 sm:gap-6">
			<div class="flex flex-col text-center sm:text-start">
				<p class="text-white-100 text-sm mc:text-base font-normal opacity-50">Designed & Developed by</p>
				<a href="https://codecat6128.github.io/" target="_blank" rel="noopener noreferrer" class="text-white-100 text-lg mc:text-xl font-bold">Pavel Sheludko</a>
			</div>
			<h3 class="text-white-100 text-sm mc:text-base font-normal opacity-50">©2024</h3>
			<div class="flex flex-col justify-center sm:justify-end gap-1">
				<div class="flex flex-col sm:flex-row text-center sm:text-end gap-4">
					<a href="" class="text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Support</a>
					<a href="" class="text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Community</a>
					<a href="" class="text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Games</a>
				</div>
				<div class="flex flex-col sm:flex-row gap-4 text-center sm:text-end justify-center sm:justify-end">
					<a href="https://www.instagram.com/riftstargames/" target="_blank" rel="noopener noreferrer" class="flex flex-row items-center gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">
						Instagram
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[20px] h-[20px]">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
						</svg>
					</a>
					<a href="https://www.youtube.com/channel/UCqA4wSfAXBe1UbiS5os-m-Q" target="_blank" rel="noopener noreferrer" class="flex flex-row items-center gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">
						Youtube
						<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-[20px] h-[20px]">
							<path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>