<footer class="bg-black w-full">
	<div class="nm:container nm:mx-auto px-5 py-5 flex flex-col justify-center gap-6 sm:gap-7">
		<h1 class="text-white-100 text-4xl sm:text-5xl font-bold text-center">Riftstar Games</h2>
		<!-- <div class=" flex flex-col gap-3 text-center">
			<p class="text-gray-400 text-sm md:text-lg font-normal">Contact me with</p>
			<div class="flex flex-row gap-4 justify-center items-center">
				<a href="mailto:sp6835317@gmail.com" target="_blank" class="text-gray-900 text-sm md:text-lg font-bold px-4 mc:px-5 py-3 mc:py-4 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">E-Mail</a>
				<p class="text-gray-400 text-sm md:text-lg font-normal">or</p>
            	<a href="https://t.me/CodeCat6128" target="_blank" class="text-gray-900 text-sm md:text-lg font-bold px-4 mc:px-5 py-3 mc:py-4 bg-blue-50 shadow-s hover:shadow-m hover:-translate-y-1 rounded-xl duration-200 ease-in-out">Telegram</a>
			</div>
		</div> -->
		<div class="flex flex-col sm:flex-row justify-center sm:justify-between items-center sm:items-end gap-5 sm:gap-6">
			<div class="flex flex-col text-center sm:text-start">
				<p class="text-white-100 text-sm mc:text-base font-normal opacity-50">Designed & Developed by</p>
				<a href="https://codecat6128.github.io/" target="_blank" rel="noopener noreferrer"><h3 class="text-white-100 text-lg mc:text-xl font-bold">Pavel Sheludko</h3></a>
			</div>
			<h3 class="text-white-100 text-sm mc:text-base font-normal opacity-50">©2024</h3>
		</div>
	</div>
</footer>