<footer class="bg-black w-full">
	<div class="nm:container nm:mx-auto px-5 py-5 flex flex-col justify-center gap-3 sm:gap-4">
		<h1 class="text-white-100 text-3xl mc:text-4xl sm:text-5xl font-bold text-center">Riftstar Games</h2>
		<p class="text-white-100 text-xs mc:text-sm md:text-base font-semibold text-center">🌎 We're a game development team 🌎<br>🎮 We enhance your gaming experience 🎮</p>
		<div class="flex flex-col sm:grid md:grid-cols-2 lg:grid-cols-3 justify-center items-center sm:items-end gap-6">
			<div class="hidden md:flex flex-col text-start">
				<p class="text-white-100 text-sm mc:text-base font-normal opacity-50">Designed & Developed by</p>
				<a href="https://codecat6128.github.io/" target="_blank" rel="noopener noreferrer" class="text-white-100 text-lg mc:text-xl font-bold">Pavel Sheludko</a>
			</div>
			<h3 class="text-white-100 text-center text-base font-normal opacity-50 hidden lg:block">©2024</h3>
			<div class="flex flex-col text-center md:text-end justify-center md:justify-end md:items-end gap-5 md:gap-1">
				<div class="flex flex-row gap-4 text-center sm:text-end justify-center sm:justify-end items-center md:items-end">
					<a href="" target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Support</a>
					<a href="https://www.instagram.com/riftstargames/" target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Instagram</a>
					<a href="https://www.youtube.com/channel/UCqA4wSfAXBe1UbiS5os-m-Q" target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Youtube</a>
					<a href="" target="_blank" rel="noopener noreferrer" class="flex flex-row gap-1 text-white-100 text-sm mc:text-base font-normal opacity-50 hover:opacity-100 duration-200 ease-in-out">Discord</a>
				</div>
				<div class="flex md:hidden flex-col text-center mb-3">
					<p class="text-white-100 text-sm mc:text-base font-normal opacity-50">Designed & Developed by</p>
					<a href="https://codecat6128.github.io/" target="_blank" rel="noopener noreferrer" class="text-white-100 text-lg mc:text-xl font-bold">Pavel Sheludko</a>
				</div>
				<h3 class="text-white-100 text-sm text-center mc:text-base font-normal opacity-50 block lg:hidden">©2024</h3>
			</div>
		</div>
	</div>
</footer>