<section class="h-[calc(100vh - 56px)] relative z-0 my-4">
    <div class="absolute top-[-56px]" id="section?home"/>
    <div class="nm:container nm:mx-auto max-w-3xl py-5 nm:py-6 lg:py-7">

    </div>
</section>