<section class="h-screen relative z-0">
    <div class="absolute top-[-56px]" id="section?home"/>
    <div class="absolute top-0 left-0 h-screen w-screen bg-cover bg-center bg-[url('https://gamingbolt.com/wp-content/uploads/2018/06/Just-Cause-4-screenshot-2.jpg')]"/>
    <div class="nm:container nm:mx-auto max-w-3xl py-5 nm:py-6 lg:py-7 flex items-center justify-end h-full w-full">
        <!-- <div class="w-full max-w-lg px-4 py-2 backdrop-blur-sm rounded-md border-0 bg-black/50 text-white ring-1 ring-inset ring-black/10 outline-none text-base font-semibold pt-[56px]">

        </div> -->
    </div>
</section>