---
import Note from '../elements/Note.astro';
---

<section class="py-8 sm:py-9">
    <div class="nm:container nm:mx-auto px-5">
      <div class="max-w-2xl">
        <h2 class="text-pretty text-4xl font-semibold tracking-tight text-white sm:text-5xl">Last news</h2>
        <p class="mt-2 text-lg/8 text-white/80">Explore new updates and realeases</p>
      </div>
      <div class="mx-auto mt-6.5 grid max-w-2xl grid-cols-1 gap-x-6 gap-y-8 border-t border-white/10 pt-6.5 sm:mt-8 sm:pt-8 lg:mx-0 lg:max-w-none lg:grid-cols-3">
        <Note title="Winter Update: 1.25.0" date="Dec 1, 2024" datatime="01-12-2024" game="Ghost Runner">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
        </Note>
        <Note title="Fixed some bugs" date="Nov 25, 2024" datatime="25-11-2024" game="Ghost Runner">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
        </Note>
        <Note title="New realease ready: 1.24.3" date="Oct 19, 2024" datatime="19-10-2024" game="Ghost Runner">
            Illo sint voluptas. Error voluptates culpa eligendi. Hic vel totam vitae illo. Non aliquid explicabo necessitatibus unde. Sed exercitationem placeat consectetur nulla deserunt vel. Iusto corrupti dicta.
        </Note>
      </div>
    </div>
</section>
  