<section class="relative z-0 py-5 nm:py-6 lg:py-7">
    <div class="absolute top-[-56px]" id="section?stats"/>
    <div class="nm:container nm:mx-auto px-5 py-5 flex flex-col justify-center">
      <dl class="grid grid-cols-1 gap-x-6 gap-y-8 text-center lg:grid-cols-3">
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-white opacity-80">Realeased projects</dt>
          <dd class="order-first text-4xl font-bold tracking-tight text-white sm:text-7xl">2</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-white opacity-80">All downloads</dt>
          <dd class="order-first text-4xl font-bold tracking-tight text-white sm:text-7xl">89043</dd>
        </div>
        <div class="mx-auto flex max-w-xs flex-col gap-y-4">
          <dt class="text-base/7 text-white opacity-80">Projects in development</dt>
          <dd class="order-first text-4xl font-bold tracking-tight text-white sm:text-7xl">3</dd>
        </div>
      </dl>
    </div>
</section>
  