---
import TeamMember from '../elements/TeamMember.astro';
---

<section class="py-8 sm:py-9">
    <div class="nm:container nm:mx-auto grid px-5 gap-[80px] xl:grid-cols-3">
        <div class="max-w-xl">
            <h2 class="text-pretty text-3xl font-semibold tracking-tight text-white sm:text-4xl">Meet our leadership</h2>
            <p class="mt-5 text-lg/8 text-white/80">We’re a dynamic group of individuals who are passionate about what we do and dedicated to delivering the best results for our clients.</p>
        </div>
        <ul role="list" class="grid gap-x-6 gap-y-7 sm:grid-cols-2 sm:gap-y-8 xl:col-span-2">
            <TeamMember name="Pavlo Sheludko" rule="Co-Founder / CEO" img_src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/>
            <TeamMember name="Michailo Dashutin" rule="Project Manager" img_src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/>
            <TeamMember name="Roman Surename" rule="C# Developer" img_src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/>
            <TeamMember name="Name Surename" rule="Developer" img_src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80"/>
        </ul>
    </div>
</section>
  